body {
    background-color: rgb(219, 150, 0);
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes example1 {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(10px);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(+10px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes example2 {
    0% {
        transform: translateY(0px);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(+10px);
    }

    60% {
        transform: translateY(-10px);
    }

    80% {
        transform: translateY(+10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* The element to apply the animation to */
.result1ani {
    animation-name: example1;
    animation-duration: 2s;
}

.result2ani {
    animation-name: example2;
    animation-duration: 2s;
}

.main {
    display: flex;
    flex-direction: column;
    height: 95vh;
    justify-content: center;
    align-items: center;

}

button {
    margin-top: 30px;
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.players {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 40px;
}

.player1 .player2 {
    text-align: center;
}

.players #score1 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.players #score2 {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    align-items: center;
    border: 0px;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.219);
    border-radius: 30px;
}

#dice img {
    margin-left: 20px;
    margin-right: 20px;
}